.container {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid rgb(39 39 42); // zinc-800
}

.tab {
  position: relative;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(161 161 170); // zinc-400
  transition: color 0.2s;

  &:hover {
    color: rgb(228 228 231); // zinc-200
  }
}

.tabActivepurple {
  color: rgb(192 132 252); // purple-400
}

.tabActiveblue {
  color: rgb(96 165 250); // blue-400
}

.tabActivered {
  color: rgb(248 113 113); // red-400
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.indicatorpurple {
  background-color: rgb(168 85 247); // purple-500
}

.indicatorblue {
  background-color: rgb(59 130 246); // blue-500
}

.indicatorred {
  background-color: rgb(239 68 68); // red-500
}
